<html>

<head>
    <title>
        <%-params.title%>
    </title>
    <link href="./css/bootstrap.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <!--Sidebar content-->
            </div>
            <div class="span1" align="">
                <!--Body content-->
                <h1>
                    <%-params.head%>
                </h1>
                <form>
                    <div>
                        <label>Nombre</label>
                        <input type="text" id="name" placeholder="Nombre">
                    </div>
                    <div>
                        <label for="inputEmail">Correo</label>
                        <input type="text" id="email" placeholder="Correo">
                    </div>
                    <div>
                        <label class="control-label" for="inputEmail">Genero</label>
                        <select id="gender">
                            <option value="male">Masculino</option>
                            <option value="female">Femenino</option>
                        </select>
                    </div>
                    <div>
                        <label class="control-label" for="inputEmail">Edad</label>
                        <input type="number" id="age" placeholder="Edad">
                    </div>
                    <button class="btn btn-primary" id="boton" type="button">Enviar</button>
                    <button class="btn btn-danger" id="limpiar" type="button">Limpiar</button>
                </form>
                <br></br>
                <table>
                    <thead>
                        <tr>
                            <td>Nombre</td>
                            <td>Correo</td>
                            <td>Genero</td>
                            <td>Edad</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/users.js"></script>
</body>

</html>
